@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

.wrapper {
  display: block;	
}


body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

.sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}


.sidebar {
	min-width: 250px;
	max-width: 250px;
	position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	z-index: 998;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

.overlay.active {
	display: block;
	width: 100vh;
	height: 100vh;
	opacity: 1;
}

#dismiss {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.sidebar.active {
	margin-left: -250px;
}

header {
  font-size: 25px;
  font-weight: 600;
}

code {
  background-color: #6C757D;
  color: white;
  padding: 10px;
  margin: 0 0 10px 0;
}


@media(max-width: 768px) {
  .sidebar{
    margin-left: 0px;
  }
  .sidebar.active {
    margin-left: -250;
  }
}